accelerate
awscliv2
datasets
deepspeed
# Flash Attention 2 requires PyTorch to be installed first
# See https://github.com/Dao-AILab/flash-attention/issues/246
#flash_attn
peft
ray[train]
torch
transformers
